#  ZERO
ZERO_UPSTREAM_DB=postgresql://user:password@127.0.0.1:5411/start_zero
# Same as upstream, this can be renamed to `start_zero_cvr` if deploying to separate database
ZERO_CVR_DB=postgresql://user:password@127.0.0.1:5411/start_zero
# Same as upstream, this can be renamed to `start_zero_cdb` if deploying to separate database
ZERO_CHANGE_DB=postgresql://user:password@127.0.0.1:5411/start_zero
ZERO_AUTH_SECRET="your_secure_secret_key"
ZERO_AUTH_JWKS_URL=http://localhost:3000/api/auth/jwks
ZERO_PUSH_URL=http://localhost:3000/api/push
ZERO_REPLICA_FILE="/tmp/start_zero_replica.db"
VITE_PUBLIC_SERVER=http://localhost:4848

# BETTER-AUTH
# Connection URL for the auth database
AUTH_DATABASE_URL=postgresql://auth_user:auth_password@127.0.0.1:5431/auth_db
# Better Auth secret key (generate a strong random string - e.g., `openssl rand -hex 32`)
BETTER_AUTH_SECRET=your_generated_secret_here
# Base URL of your application
BETTER_AUTH_URL=http://localhost:4848

GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret

# Add a verified domain in resend dashboard. 
# onboarding@resend.dev can be used for testing
EMAIL_FROM="Zero Start Team <onboarding@resend.dev>"
RESEND_API_KEY=your_resend_key

# Optional: Social provider keys
# GITHUB_CLIENT_ID=your_github_client_id
# GITHUB_CLIENT_SECRET=your_github_client_secret